

   
@media only screen and (max-width: 468px){
    
    #my-content { display:none; }
    #footer{
        flex-direction: column;
        justify-content: center;
    }

    #footer >div{
        padding: 0;
    }
    #Info{
        flex-direction: column;
    }

    #Info > div:nth-child(1){
        display: flex;
        flex-direction: column-reverse;
    }

}

